
.list{
    color: white;
    
    background-color:rgb(255, 41, 13);
    margin-left:20px;
    margin-right: 20px;
    height:27px;
    border-radius: 5px;
  
    text-align: center;
    


   
}
.listitems
{
  
    
    margin:20px auto;
  


}
